header{
    padding: 27px 0px 26px;
    background: #0066a1;
    font-size: 25px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header h1{
    background:#0066a1;
    font-size:25px;
    margin:0;
    text-align: center;
    width:80%;
    float:left;
}

.menuIcon{
    width: 20%;
    display: block;
    color: #fff;
    margin: 0px auto;
}